<span class="input-span">
<span class="input-tb-span">
<span class="input-prompt">Enter value:</span>
<span class="input-help-button" style="display:none;">ⓘ</span>
<span class="input-tb-span-completion" style="display:inline-block;">
<input type="text" class="input-textbox" size=25/>
<span class="input-tb-completion" style="position:absolute; background:rgb(250,250,255);"></span>
</span>
</span>
<span class="input-ta-span" style="display:none;">
<br/>
<textarea class="input-textarea" cols=80 rows=25></textarea>
<br/>
</span>
<button class="input-ok">Accept</button>
<button class="input-expand">Expand</button>
<input type="file" class="input-file">
<div class="input-help-text" style="display:none;"></div>
